.order-history {
    max-width: 1700px;
    margin: 60px auto;
    padding: 0 40px;
    margin-top: 120px;
  }
  
  .order-history h1 {
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  
  .highlight-black {
    background-color: black;
    color: white;
    padding: 0 12px;
  }

  .order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: white;
    border: 1px solid #ccc;
  }
  
  .order-table thead {
    background: linear-gradient(to right, #fbbc04, #f57c00);
  }
  
  .order-table th {
    text-align: left;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  
  .order-table td {
    line-height: 2.1;
    padding: 16px;
    border-top: 1px solid #e0e0e0;
  }
  
  .order-table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  .status {
    font-weight: normal;
    margin-right: 10px;
  }

  .details-link {
    color: #fbbc04;
    font-weight: bold;
    text-decoration: none;
  }

  .order-table th:last-child,
.order-table td:last-child {
  white-space: nowrap;
}